<div id="task.<%=h task.id %>" class="sc_task  sc_task_tracker_<%= Tracker.find(task.tracker_id).name %>  <%= task.children.count  == 0 or Tracker.find(task.tracker_id).name != 'UserStorie' ? '' : 'sc_task_hide' %>">

  <% if task.parent || task.tracker_id == Tracker.where(name: "UserStory").first.try(:id) %>
      <% (task.parent || task).tap do |user_story| %>
      <div class="task_parent">
        User Story: 
        <span class="task_no">#<%= link_to user_story.id, :controller => 'issues', :action => 'show', :id => user_story.id %></span>
        <span><%= user_story.subject %></span>
      </div>
      <%- end %>
    <%- end %>

  <div style="padding-left: 30px; padding-top: 10px;">
    <div class="fl task_no">#<%= link_to task.id, :controller => 'issues', :action => 'show', :id => task %></div>
    <div class="fl task_desc"><img src="<%= File.join(@plugin_path, 'images', 'task_desc.png') %>"/></div>
    <div class="fl task_tracker_name"><%=h Tracker.find(task.tracker_id).name %>&nbsp;-&nbsp;</div>
    <div class="task_subject" title="<%=h task.subject %>"><%=h task.subject %></div>
    <div class="task_row">
        <div class="task_doneratio_slide"></div>
        <div class="task_owner fr"><%=h task.assigned_to %></div>
    </div>
    <div class="task_doneratio_value fl"><%=h task.done_ratio || '0' %></div>
    <div class="fl task_estimate_params">
        <div class="measure fl">%</div>
        <div class="fl task_estimate_sep">/</div>
        <div class="task_estimate fl"><%=h task.estimated_hours || l(:label_sprints_placeholder_estimated) %></div>
        <div class="measure fl">h</div>
    </div>
    <div class="task_add_spent fr">
      <div class="task_add_spent_value fr">X</div>
      <div class="measure fr">+</div>
    </div>
    <div class="fr task_estimate_params">
        <div class="measure fr">h</div>
        <div class="fr task_spent_time"><%=h task.spent || '0' %></div>
    </div>
  </div>
</div>


